html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.image {
	display: inline-block;
	align: left;
	margin-left: 4em;
}

.recipeinfo {
	display: inline-block;
	align: right;
	margin-left: 4em;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}